<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>immersiveUI</title>
    <link rel="stylesheet" href="./css/immersive.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/icon-fonts.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="./js/immersiveui.js"> </script>
  </head>
  <body>
    <header>
        <div class="status-left">
          <span class="icon-notifications"> </span><span class="icon-file_download"> </span>
        </div>
        <div class="status-right">
          <span class="icon-bluetooth"> </span> <span class="icon-wifi"> </span> <span class="icon-cast_connected"> </span> 20:15
        </div>
        <h1 class="titles">
          Live
        </h1>
    </header>
    <main>
      <section class="container-3d transition">
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections center">
          <% for(var i=0; i<7; i++){ %>
            <div class="card layer-<%=i%>">
              <iframe src="
              <%= videos[i].get('Source')%>
              " width="580" height="490"></iframe>
            </div>
          <% } %>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
      </section>
    </main>
    <footer>
      <div class="info-left">
        <%= videos[0].get('Discriptions')%>
      </div>
      <div class="info-right">
        <div class="ratings">
          <%= videos[0].get('Rate')%>
        </div>
        <div class="meta-info">
          <%= videos[0].get('Staff')%>
        </div>
      </div>
      <h1 class="titles-item">
        <%= videos[0].get('Title')%>
      </h1>
    </footer>
  </body>
</html>
