<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>immersiveUI</title>
    <link rel="stylesheet" href="./css/immersive.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/icon-fonts.css" media="screen" title="no title" charset="utf-8">
    <script src="//cdn.bootcss.com/react/0.14.3/react.js"></script>
    <script src="//cdn.bootcss.com/react/0.14.3/react-dom.js"></script>
    <script src="//cdn.bootcss.com/babel-core/5.8.34/browser.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/marked/0.3.5/marked.min.js"></script>
    <script type="text/javascript">
      var videoJSON=[];
      <% videos.forEach(function(video){ %>
         videoJSON.push( <%- JSON.stringify(video) %> );
        // console.log("strings: \n"+jsonString);
      <% }) %>
    </script>
    <script type="text/babel" src="./js/reactImmersiv.jsx"></script>
    <!-- <script type="text/javascript" src="./js/immersiveui.js"> </script> -->
  </head>
  <body>
    <div id="content">

    </div>
    <!-- <header>
        <div class="status-left">
          <span class="icon-notifications"> </span><span class="icon-file_download"> </span>
        </div>
        <div class="status-right">
          <span class="icon-bluetooth"> </span> <span class="icon-wifi"> </span> <span class="icon-cast_connected"> </span> 20:15
        </div>
        <h1 class="titles">
          Live
        </h1>
    </header>
    <main>
      <section class="container-3d transition">
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections center">
          <% for(var i=0; i<7; i++){ %>
          <div class="card layer-<%=i%>">
              <video width="480" height="270"
              <% if( 5 === i){ %>
                autoplay
              <% } %>
              poster = "<%= videos[i].get('Poster')%>"
              >
                <source src="<%= videos[i].get('SRC')%>" type="video/mp4">
              </video>
          </div>
          <% } %>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
        <div class="collections">
          <div class="card layer-0"></div>
          <div class="card layer-1"></div>
          <div class="card layer-2"></div>
          <div class="card layer-3"></div>
          <div class="card layer-4"></div>
          <div class="card layer-5"></div>
          <div class="card layer-6"></div>
        </div>
      </section>
    </main>
    <footer>
      <div class="info-left">
        <p>
          <%= videos[5].get('Discriptions')%>
        </p>
      </div>
      <div class="info-right">
        <div class="ratings">
          <p>
            <%= videos[5].get('Rate')%>
          </p>
        </div>
        <div class="meta-info">
          <p>
            <%= videos[5].get('Staff')%>
          </p>
        </div>
      </div>
      <h1 class="titles-item">
        <%= videos[5].get('Title')%>
      </h1>
    </footer> -->
  </body>
</html>
